#form {
    background-color: #3ad886;
    border-radius: 7px;
    height: 520px;
    width: 450px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    box-sizing: border-box;
}

#image-preview {
    height: 200px;
    width: 320px;
    display: inline-block;
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;
}
#image-preview > img {
    height: 100%;
    width: auto;
}