.product-box {
    background-color: #d34735;
    height: 230px;
    width: 600px;
    margin: 10px 0;
    padding: 15px;
    text-align: left;
    min-height: auto;
    min-width: auto;
    box-sizing: border-box;
    border-radius: 7px;
    position: relative;
}
.product-box > img {
    height: 199px;
    width: 320px;
    display: inline-block;
    box-sizing: border-box;
    object-fit: cover;
}
.product-box > .product-name {
    font-size: 24px;
    position: absolute;
    left: 350px;
    top: -10px;
}
.product-box > .product-price {
    font-size: 20px;
    position: absolute;
    left: 350px;
    top: 24px;
}
.product-box > .delete-button {
    position: absolute;
    left: 350px;
    bottom: 18px
}
.product-box > .edit-button {
    position: absolute;
    right: 18px;
    bottom: 18px;
}